<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>


</head>

<body>

<div id=superdiv>
	<div id=barra_topo>

	</div>
    <div id=body>
    	<div id=menu_topo>
       	  <div id=logo> 
          <img src=  />

			</div>
			<div id=links>
            	<span>
        			<a href="www.clippermagazine.com.br/acompania">A compania
           			 </a>
    			</span>
        		<span>
        			<a href="anuncieconosco">Anuncie Conosco
            		</a>
    			</span>
        		<span>
        			<a href="www.clippermagazine.com.br/casesdesucesso">Cases de sucesso
           		 	</a>
    			</span>
        		<span>
        			<a href="www.clippermagazine.com.br/agendeumavisita">Agende uma visita
           		 	</a>
    			</span>
       		 	<span>
        			<a href="www.clippermagazine.com.br/faleconosco">Fale conosco
           		 	</a>
    			</span>	

			</div>
		</div>
        <div id="conteiner_meio">
        	<div id="video">
        	
        	</div>	
        </div>

	</div>
    <div id=rodape>

	</div>
</div>

</body>
</html>
