{% load i18n %}

<div id="cabecalho">

	<div id="cidades" class="cidades" >
			<div class="cidades-slider" style="display: none; overflow:hidden;">
				<ul>
				  	{% for cidade in cidades_disponiveis %}
				   		<li><a href="{% url cidade_index cidade_slug=cidade.slug %}">{{ cidade.cidade }}</a></li>
				    {% endfor %}
			    </ul>
					
			</div>
			<div id="cidades-link" class="cidades-link" >
					<a href="" class="cidade-slider-link" id="cidade-slider-link"> Clipper em outras cidades </a>
			</div>
			<div class="buscar-slider" style="display: none; overflow:hidden;">
			    <form>
			      Buscar Formulario
			    </form>          
			</div>
		</div>
		
	<div id="logo" class="logo">
    	
    </div>
 
    <div id="menu" class="menu">
			<span id="item_menu" class="item_menu">
				<a href="/">Inicio</a>
			</span> |
			<span id="item_menu" class="item_menu">
				<a href="{% url revistas cidade %}">Revistas</a>
			</span> |
			<span id="item_menu" class="item_menu">
				<a href="/anuncios/">Anuncios</a>
			</span> |
			<span id="item_menu" class="item_menu">
				<a href="/casos-de-sucesso/">Casos de Sucesso</a>
			</span> |
			<span id="item_menu" class="item_menu">
				<a href="{% url contato cidade %}">Contato</a>
			</span> |
		  
	  
	</div>
</div>
