{% load i18n %}

<div id="cabecalho">

	<div id="cidades" class="cidades" >
			<div class="cidades-slider" style="display: none; overflow:hidden;">
				<ul>
				  	{% for cidade in cidades_disponiveis %}
				   		<li><a href="{% url cidade_index cidade_slug=cidade.slug %}">{{ cidade.cidade }}</a></li>
				    {% endfor %}
			    </ul>
			</div>
  	{% if email_cadastrado %}
		Email cadastrado com sucesso
	{% else %}
		<div id="email" >
				<form id="email-form" method="POST" action="">{% csrf_token %} 
						
   					{{ email_form }}
							
					<input type="submit" value="Cadastrar" />
				</form>
					
				</div>
	{% endif %}		
					
					

	<div id="cidades-link" class="cidades-link" >
			<a href="" class="cidade-slider-link" id="cidade-slider-link"> Clipper em outras cidades </a>
	</div>
			
	<div class="recomendacoes" class="recomendacoes">
		<div id="fb-root"></div>
			<script src="http://connect.facebook.net/pt_BR/all.js#xfbml=1"></script>
			  
      		<!--*jaestava comentado <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fclippermagazine.com.br%2F&amp;layout=button_count&amp;show_faces=false&amp;width=200&amp;action=like&amp;colorscheme=light" scrolling="no" frameborder="0" allowTransparency="true" style="border:none; overflow:hidden; width:200px; height:px"></iframe> --> 
			<!-- 	<fb:like href="www.clippermagazine.com.br" send="true" show_faces="false" width="450" action=recommend font="arial" layout=button_count>
			</fb:like>
			<a href="http://twitter.com/share" class="twitter-share-button" 
			data-text="Confira a ultima edição da revista Clipper Magazine!" 
			data-count="horizontal" data-via="ClipperBr" data-lang="pt">Compartilhe</a>
			
			<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script> -->
			
	</div> 

	</div>

	
		
       	
  	
    		
</div>






]