{% load i18n %}

<div id="cabecalho" class="cabecalho">
	<div id="cidades" class="cidades">
	
	<div id="cidades" class="cidades" >
			<div class="cidades-slider" style="display: none; overflow:hidden;">
				<ul>
				  	{% for cidade in cidades_disponiveis %}
				   		<li><a href="{% url cidade_index cidade_slug=cidade.slug %}">{{ cidade.cidade }}</a></li>
				    {% endfor %}
			    </ul>
			</div>
  	{% if email_cadastrado %}
		Email cadastrado com sucesso
	{% else %}
		<div id="email" >
					<form id="email-form" method="POST" action="" class="email-form">{% csrf_token %} 
						
   						{{ email_form }}
							
						<input type="submit" value="Cadastrar" />
					</form>
					
				</div>
	{% endif %}	
	</div>	
					
					
			</div>
			<div id="cidades-link" class="cidades-link" >
					<a href="" class="cidade-slider-link" id="cidade-slider-link"> Clipper em outras cidades </a>
			</div>
			
		</div>
		
	<div id="logo" class="logo">
    	
    </div>
  	
    <div id="menu" class="menu">
			<span id="inicio-menu" class="inicio-menu">
				<a href="/">Inicio</a>
			</span> |
			<span id="revistas-menu" class="revistas-menu">
				<a href="{% url revistas cidade %}">Revistas</a>
			</span> |
			<span id="anuncios-menu" class="anuncios-menu">
				<a href="/anuncios/">Anuncios</a>
			</span> |
			<span id="casos-menu" class="casos-menu">
				<a href="/casos-de-sucesso/">Casos de Sucesso</a>
			</span> |
			<span id="contato-menu" class="contato-menu">
				<a href="{% url contato cidade %}">Contato</a>
			</span> |
	  
	</div>
</div>
