{% extends "base.html" %}

{% block titulo %}Bem vindo - {% endblock %}

{% block metadata %}
  	<meta content="{{ meta_keywords }}" name="Keywords"/>
    <meta content="{{ meta_description }}" name="Description"/>
{% endblock metadata %}

{% block extralinks %}
	{{ block.super }}
{% endblock %}
{% block extracss %}
	{{ block.super }}
{% endblock %}

{% block extrascripts %}
	{{ block.super }}
{% endblock %}


{% block extrajs %}
	{{ block.super }}
{% endblock extrajs %}

{% block conteudo %}
	<div id="logo" class="logo">
		<a href="jhoni é o cara">Eu falei pra você?</a>
	</div>	
	<div id="menu" class="menu">	
	<ul>
		<li>
			<a href="/">Inicio</a>
		</li>
		<li>
			<a href="/anuncie">Anuncie</a>
		</li>
		<li>
			<a href="/">Casos de </br> sucesso</a>
		</li>
		<li>
			<a href="/">Revistas</a>
		</li>
		<li>
			<a href="/">Contato</a>
		</li>	
	</ul>	
	</div>
{% endblock conteudo %}	