{% extends "base.html" %}

{% block titulo %}Bem vindo - {% endblock %}

{% block metadata %}
  	<meta content="{{ meta_keywords }}" name="Keywords"/>
    <meta content="{{ meta_description }}" name="Description"/>
{% endblock metadata %}

{% block extralinks %}
	{{ block.super }}
{% endblock %}
{% block extracss %}
	{{ block.super }}
{% endblock %}

{% block extrascripts %}
	{{ block.super }}
{% endblock %}


{% block extrajs %}
	{{ block.super }}
{% endblock extrajs %}


				 

{% block conteudo %}
<div id="menu">
	
	
	<div id="logo">
		<a href="www.clippermagazine.com.br">
	</div>
		
	<div id="menu_link_co" class="menu_contato"  >
		<a href="" class="menu_contato"><img border="0" alt="Contato" src="/media/img/menu_contato2.png" id="menu link_co" width="111" height="175"  /></a>
	</div>
	
	<div id="menu_link_re" class="menu_revistas"  >
		<a href="" class="menu_revistas"><img border="0" alt="Revistas" src="/media/img/menu_revistas2.png" id="menu link_re" width="111" height="175"/> </a>
	</div>
	
	<div id="menu_link_ca" class="menu_casos"  >
		<a href="" class="menu_casos "><img border="0" alt="Casos de suceso" src="/media/img/menu_casos2.png" id="menu link_ca" width="111" height="175"  /></a>
	</div>
	
	<div id="menu_link_an" class="menu_anuncie"  >
		<a href="" class="menu_anuncie"><img border="0" alt="Anuncie" src="/media/img/menu_anuncie2.png" id="menu link_ca" width="111" height="175"  /></a>
	</div>
	
	<div id="menu_link_in"  class="menu_inicio"  >
		<a href="" class="menu_inicio"><img border="0" alt="Inicio" src="/media/img/menu_inicio2.png" id="menu link_ca" width="111" height="175"  /></a>
	</div>	
		
	
	
	
	
	
	
	
	
	
	
</div>
{% endblock conteudo %}	