{% extends "base.html" %}

{% block titulo %}Bem vindo - {% endblock %}

{% block metadata %}
  	<meta content="{{ meta_keywords }}" name="Keywords"/>
    <meta content="{{ meta_description }}" name="Description"/>
{% endblock metadata %}

{% block extralinks %}
	{{ block.super }}
{% endblock %}
{% block extracss %}
	{{ block.super }}
{% endblock %}

{% block extrascripts %}
	{{ block.super }}
{% endblock %}


{% block extrajs %}
	{{ block.super }}
{% endblock extrajs %}


				 

{% block conteudo %}
<div id="menu">
	<div id="menu_canto_left">
		
	</div>
	<div id="logo">
		<a href="www.clippermagazine.com.br">
	</div>
	
	<div class="menu_inicio">
		<a href="" class="center">Inicio</a>
		
	</div>
	
	<div class="menu_anuncios">
		<a href="" class="center">Anuncie</a>
		
	</div>
	
	<div class="menu_casos">
		<a href="" class="center">Casos de sucesso</a>
		
	</div>
	
	<div class="menu_revistas">
		<a href="" class="center">Revistas</a>
		
	</div>
	
	
	<div class="menu_contato">
		<a href="" class="center">Contato</a>
		
	</div>
	
	
	
	
	
	
</div>
{% endblock conteudo %}	