@charset "utf-8";
/* CSS Document */

#all
{	
	background-color:#F0F0F0;
	min-width:100%;
	height:1300px;
	z-index=1;
}
	
}

#body
{
	background-image:url('\media\fundo.png');
	background-repeat:repeat-y;
	width:1024px;
	height:1300px;
	z-index:2;
}
	
}

#barra_topo
{
	width:1024px;
	height:65px;
	background-image:url('\media\barra_topo.png');
	background-repeat:repeat-x;
	z-index:2;	
}
	
#menu_topo
{
	width:1024px;	
}

.logo
{
	float:left;
	
}
		
#menu_links
{
	float:right;
	display:inline;
	
}

#rodape
{
	
}